<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="aggrathon.eyewitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundInformation"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LineupActivity"
            android:immersive="true"
            android:label="@string/title_activity_test"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QuestionsActivity"
            android:immersive="true"
            android:label="@string/title_activity_questions"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/resultTitle"
            android:immersive="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NumberActivity"
            android:label="@string/listenToInstructions"
            android:immersive="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>