<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="aggrathon.eyewitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".start.BackgroundInformationActivity"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".experiment.LineupActivity"
            android:immersive="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".experiment.QuestionsActivity"
            android:immersive="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ResultActivity"
            android:immersive="true"
            android:label="@string/resultTitle"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".experiment.NumberActivity"
            android:immersive="true"
            android:label="@string/listenToInstructions"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".start.AgeActivity"
            android:immersive="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".start.ExperimentInformationActivity"
            android:immersive="true"
            android:label="@string/title_activity_experiment_information"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aggrathon.eyewitnessapp.MainActivity"/>
        </activity>
        <activity
            android:name=".start.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:noHistory="true"
            android:immersive="true"
            android:screenOrientation="landscape"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aggrathon.eyewitnessapp.MainActivity"/>
        </activity>
        <activity
            android:name=".start.TutorialActivity$TutorialNumbers"
            android:label="@string/title_activity_tutorial"
            android:noHistory="true"
            android:immersive="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".start.TutorialActivity$TutorialLineup"
            android:label="@string/title_activity_tutorial"
            android:noHistory="true"
            android:immersive="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".start.TutorialActivity$TutorialQuestions"
            android:label="@string/title_activity_tutorial"
            android:noHistory="true"
            android:immersive="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".start.TutorialActivity$TutorialEnd"
            android:label="@string/title_activity_tutorial"
            android:noHistory="true"
            android:immersive="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>